 /* CSS DA PÁGINA DE LOGIN E CADASTRO */

 body {
     margin: 0;
     padding: 0;
     font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-image: url(../img/Captura\ de\ tela\ 2023-04-12\ 224001.png);
     background-size: cover;
 }

 .container {
     display: flex;
     justify-content: space-around;
 }

 .card_cadastro {
     display: flex;
     justify-content: center;
     width: 400px;
     background-color: #ffffff;
     border-radius: 10px;
     align-items: center;
     flex-direction: column;
     color: rgb(0, 0, 0);
     box-shadow: black 0.1em 0.1em 0.2em;

 }


 .card_cadastro h2,
 p,
 h1 {
     margin-bottom: 20px;
     margin: 0;
     font-size: 30px;
     font-weight: 800;
     color: #7c0076;
     text-shadow: rgb(239, 240, 240) 0.1em 0.1em 0.2em;
     text-align: center;
     margin-top: 10px;
 }

 p {
     color: white;
 }


 .formulario {
     padding: 1%;
     margin-top: 10px;
     width: 50%;
     justify-content: center;
 }

 .formulario input {
     background-color: #eee;
     border: none;
     padding: 12px 15px;
     margin: 8px 0;
     width: 100%;
 }

 .formulario select {
     background-color: #eee;
     border: none;
     padding: 12px 15px;
     margin: 8px 0;
     width: 100%;
 }

 .botao {
     border-radius: 60px;
     border: 2px solid #7c0076;
     background-color: #ffffff;
     color: #7c0076;
     text-align: center;
     font-size: 16px;
     width: 50%;
     transition: all 0.4s;
     cursor: pointer;
     margin: 5px;
     margin-bottom: 20px;
     height: 35px;


 }

 .btn_cadastrar {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .botao:hover {
     border: 2px solid #ffffff;
     background-color: #7c0076;
     color: #e5e5e5;
     transition: all 0.5s;
     text-decoration: none;
 }

 .baixoButon {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }


 /* RODAPÉ (INCIO/ */
 
 .footer {
    margin-top: 163px;
    width: 100%;
    color: #fff;
    text-align: center;
  }
  
  .footer h4 {
    margin: 0;
    text-align: center;
  }
  
  .footer .version {
    font-size: 15px;
    font-weight: 800;
  }

 /* RODAPÉ (FIM) */